@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nomare Travel Agency</h1>

    <div class="w-50 m-auto mb-3">
        <p>Cerca un pacchetto:</p>
        <input class="form-control js_search" type="text" placeholder="Cerca un viaggio" aria-label="default input example">
    </div>
    <div class="row row-cols-3 js_travel_grid">
        @*HERE TRAVELS GRID*@

    </div>
    
</div>

<script type="text/javascript">

    getTravels();

    var searchtimer;
    /// Set Timeout (1 sec) to search
    document.querySelector(".js_search").addEventListener("input", (e) => {
        //clear previous call
        clearTimeout(searchtimer);
        let title = e.target.value;
        searchtimer = setTimeout(() => {
            getTravels(title);
        }, 1000);
    });

    function getTravels(title) {

        axios.get("/api/travel/", {
            params: {
                title: title
            }
        }).then(res => {
            console.log(res);

            // Render To DOM Travel grid

            if (res.data.length == 0) {
                document.querySelector(".js_travel_grid").innerHTML = '';
                document.querySelector(".js_travel_grid").innerHTML += `
                            <div class="col">
                               <p> Nessun pacchetto disponibile <p>
                            </div>
                    `
            } else {
                res.data.forEach(travel => {

                    document.querySelector(".js_travel_grid").innerHTML = '';
                    document.querySelector(".js_travel_grid").innerHTML +=
                        `
                                <div class="col">
                                    <div class="card ">
                                    <a href="/home/show/${travel.id}">
                                        <img src="${travel.coverImage}" class="card-img-top" alt="Image of ${travel.name}">
                                        <div class="card-body">
                                                <h2>${travel.name}</h2>
                                                <span class="card-text d-block">${travel.description}</span>
                                                <span class="card-text d-block">${travel.price} €</span>
                                         </div>
                                        <a/>
                                    </div>
                                </div>

                        `;

                })
            }


        }).catch(err => {
            console.log(err);
        })
    }

</script>