@model int;

<div class="js_title m-auto">
  
</div>

<div class="container js_travel_grid ">
    
</div>
<div class="js_message-box">
    <form onsubmit="sendMessage(event)">

        <div class="mb-3">
            <strong>Titolo:</strong>
            <input id="form-title" type="text" class="d-block w-100" required />

        </div>
        <div class="mb-3">
            <strong>Email:</strong>
            <input id="form-email" type="email" class="d-block w-100" required />

        </div>
        <div class="mb-3">
            <strong>Nome Completo:</strong>
            <input id="form-fullName" type="text" class="d-block w-100" required />

        </div>
        <div class="mb-3">
            <strong>Messaggio:</strong>
            <textarea rows="5" id="form-body" type="text" class="d-block w-100" required> </textarea>

        </div>

        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva" />
        </div>
    </form>
    
</div>

<script type="text/javascript">
    let id = window.location.pathname.split('/')[3];
//let id = @Model;
getTravel();



function getTravel(){
        axios.get("/api/travel/" + id).then(res=>{
            console.log(res)
          
            let travel = res.data
            let departureDay = new Date(travel.departureDate).toLocaleDateString();;
            let returnDay = new Date(travel.returnDate).toLocaleDateString();;

            // Render To DOM Travel grid

            if (res.data.length == 0) {
                document.querySelector(".js_travel_grid").innerHTML = '';
                document.querySelector(".js_travel_grid").innerHTML += `
                                <div class="col">
                                   <p> Nessun pacchetto trovato <p>
                                </div>
                        `
            } else {
                document.querySelector(".js_title").innerHTML = '';
                document.querySelector(".js_title").innerHTML +=`
                    <h2>${travel.destination.name}</h2>
                
                `
              
                    document.querySelector(".js_travel_grid").innerHTML = '';
                    document.querySelector(".js_travel_grid").innerHTML +=
                        `
                                    <div class="col">
                                            <div class="card show-card ">
                                        
                                            <img src="${travel.coverImage}" class="card-img-top" alt="Image of ${travel.name}">
                                            <div class="card-body ">
                                                    <h2>${travel.name}</h2>
                                                    <span class="card-text d-block"><strong>Categoria:</strong> ${travel.category.name}</span>
                                                                <span class="card-text d-block"><strong>Date:</strong> Dal ${departureDay} al ${returnDay}</span>
                                                        <span class="card-text d-block"><strong>Destinazione:</strong> ${travel.destination.name} (${travel.destination.country})</span>
                                                        <span class="card-text d-block"><strong>Transporto:</strong> ${travel.transport.name}</span>
                                                        <span class="card-text d-block"><strong>Prezzo:</strong> ${travel.price} €</span>
                                                        <h3>Descrizione:</h3>
                                                        <span class="card-text d-block">${travel.description}</span>
                                                        <h3>Tags:</h3>
                                                        <div class="js_tags"></div>
                                             </div>
                                          
                                        </div>
                                    </div>

                            `;

                            /////// ADD TAGS TO DOM

                        document.querySelector(".js_tags").innerHTML = '';
                        travel.tags.forEach(tag => {
                        document.querySelector(".js_tags").innerHTML += `

                                <span class="card-text ">${tag.name}</span>

                            `
                        })
                        

            }
        }).catch(e=>{
            console.log(e)
        })
}

    function sendMessage(e) {
        e.preventDefault();
        console.log(e)
        axios.post("/api/message/send", {
            title: document.querySelector("#form-title").value,
            email: document.querySelector("#form-email").value,
            sender: document.querySelector("#form-fullName").value,
            body: document.querySelector("#form-body").value,
            travelPackageId: id,
        
        }).then(res => {
            console.log(res)
            document.querySelector("#form-title").value = '';
            document.querySelector("#form-email").value = '';
            document.querySelector("#form-fullName").value = '';
            document.querySelector("#form-body").value = '';
            alert("messaggio inviato");
        }).catch(err => {
            console.log(err);
            alert("campi non corretti, messaggio non inviato");
        })
    }
</script>