html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.show-card{
    max-width: 30rem;
    margin: auto;
}

a {
    text-decoration: inherit;
    color: inherit;
  
}

a:hover {
    text-decoration: inherit;
    color: inherit;
}


.index-card{

}